<%- include('layouts/header') %>
<h1 class="animBor"><span class="first-name">Robin </span><span class="last-name">Mollah</span></h1>
<br/><br/><br/>
<br/><br/><br/>
<%- include('sections/quote'); %>
<%- include('sections/assignments/2'); %>
<br/><br/><br/>
<br/><br/>
<p>I started coding from an early age because I believe through technology I can make a huge national and global impact.
    I would love to be a contributor in creating a history of technology-based society.
    Being part of something that makes an upgrade in any part of this world is the most desired dream of my life.</p>
<br>
<div class="tabs">
    <div class="tab tab-left" id="field-of-expertise-tab" section="field-of-expertise">Expertise</div>
    <div class="tab tab-middle" id="experiences-tab" section="experiences">Experiences</div>
    <div class="tab tab-right" id="education-tab" section="education">Education</div>
</div>
<%- include('sections/expertise'); %>
<%- include('sections/experiences'); %>
<%- include('sections/education'); %>
<script type="text/javascript" src="../public/javascripts/resume.js"></script>
<script type="text/javascript" src="../public/javascripts/quote.js"></script>

<div class="footer">
    This page is developed for <a href="https://piazza.com/class/kpscjkcnaao797">CSE391</a> course assignment.<br/>
    Location: <script type="text/javascript">document.write(location.href)</script>
    <br/>Last Modified: <span id="update-time"></span>
</div>
<script type="text/javascript">
	let req=new XMLHttpRequest();
	req.open("HEAD", location.href, false);
	req.send(null);
	if(req.status == 200){
		document.getElementById("update-time").innerText = req.getResponseHeader('Last-Modified');
	}
</script>
</body>
</html>
