div.bg-greenish.ek-page(style="display: block;text-align: center;")#skill-search
    div.search-box
        h1.animBor(style="font-size: 2.5em") Projects
    br
    -
        let projects = [
            {
                name: "1971 : Hit & Run",
                thumbnail: 'images/1971-hit-n-run-icon.webp',
                video: 'https://www.youtube.com/watch?v=Li_s8zLHmLg',
                type: "Android Game",
                skills: [
                    'LibGdx',
                    'Java',
                    'Eclipse',
                    'Google Play Services',
                    'Android',
                    'Firebase',
                    'Blender',
                    'Gimp',
                    'Android ADT',
                    'Android AAR',
                    'Maven',
                ],
                date: '2017',
                link: "https://play.google.com/store/apps/details?id=net.properbd.hitnrun",
                description: "Before getting admitted for Bachelors I have created this game. Back then smartphones " +
                        "didn't have much RAM and powerful CPU. It was a great experience to make resource sensitive game. Saving every milliseconds was a challenge. "
            }, {
                name: "BracU Bot",
                thumbnail: 'images/bracu-bot-icon.webp',
                video: '',
                type: "Chatbot",
                skills: [
                    'NodeJS',
                    "Regex",
                    "Google App Engine",
                    "FireStore",
                    "DataStore",
                    "MySQL",
                    "NLP",
                    "IntelliJ IDEA"
                ],
                date: '2019',
                link: "https://m.me/bracubot",
                description: "This is a messenger bot that answers frequently asked questions of students of Brac University. " +
                        "Data was collected by intercepting HTTP REST APIs of website, converted to CSV. Then uploaded to " +
                        "MYSQL database. Other types of datas were saved in GCPs' DataStore. For intent detection regex" +
                        " patterns were used. The parameters in the users sent sentence were retrieved and used to create MySql query." +
                        "After retrieving the data it populates the previously set templates and makes a reply."
            }, {
                name: "Swopno Keyboard",
                thumbnail: 'images/swopno-keyboard-icon.webp',
                video: '',
                type: "Android App",
                skills: [
                    'Android',
                    "Java",
                    "Eclipse"
                ],
                date: '2016',
                link: "https://play.google.com/store/apps/details?id=net.properbd.swopnoboard",
                description: "This keyboard was created for fun purpose. It did contained a lot of Bangla frequently " +
                        "used funny comments those were popular back in 2016. Also Bengali typing was not much available back then."
            },
        ]
    div.project-showcase
        each project, i in projects
            div.project-detail
                    img(src=project.thumbnail alt=project.name).img-detail-icon
                    br
                    div(style="text-align: left;margin-left: 1em;")
                        h2= project.name
                        br
                        b Category:
                        span= " " + project.type
                        br
                        br
                        b Published:
                        span= " " + project.date
                        br
                        br
                        b Skills:
                        each skill in project.skills
                            span= " " + skill + ","
                        br
                        br
                        span= project.description

script(src="javascripts/project-showcase.js")

style.
    .bg-greenish {
        background: #8e9d86;
        height: auto !important;
        min-height: 100vh;
    }

    .project-showcase, .project-detail {
        display: flex;
    }

    .project-detail {
        margin-bottom: 3em;
        box-shadow: 1px 1px 5px #394732;
    }

    .project-detail:hover {
        box-shadow: 1px 1px 10px #394732;
    }


    @media only screen and (max-width: 520px) {
        .project-detail {
            display: block;
        }

    }

    .project-detail img {
        max-width: 330px;
        max-height: 330px;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


    .project-showcase {
        display: block;
        text-align: center;
    }
